html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  background-color: #2a1f2d;
}

.App {
  /* background-color: #f5f5dc; */
  background-color: #2a1f2d;

  position: relative;
}

.app-content {
  /* background-color: cornsilk; */
  background-color: #2a1f2d;

  height: 100vh;
  /* width: 100vh; */
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.page-header {
  /* background-color: cornsilk;
  background-color: #2a1f2d;
   */

  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  background: blue; */
}

.header-nav {
}

.header-navigation-buttons {
  background-color: aquamarine;
  /* display: flex; */
}

.navigation-bar-items {
  display: flex;
  overflow: auto;
  justify-content: space-around;
  padding-bottom: 1.5%;
}

.rb-navbar {
  display: flex;
  background-color: #59c9a5;
  width: 100%;
  justify-content: space-around;
  padding: 0.5%;
}

/*  */

.mainpage-container {
  /* width: 100vh; */
  height: 100vh;
}
.homepage-carousel {
  margin-top: 2%;
  /* -webkit-filter: brightness(50%); */
}

.homepage-content {
  background-color: white;
  width: 95%;
  height: auto;
  border: 10px solid #59c9a5;
  padding: 50px;
  margin: 0 auto;
  margin-top: 1%;
}
.homepage-content h3 {
}

.homepage-header-content {
  display: flex;
  justify-content: space-between;
  /* background-color: #59c9a5; */
  border: 10px;
}

.homepage-guts {
  /* background-color: greenyellow; */
  height: 100vh;
  width: 100vh;
}

.homepage-sidebar {
  display: flex;
  justify-content: right;
  height: 100%;
  width: 100%;
}

.homepage-sidebar-content {
  background-color: palegoldenrod;
  width: 50%;
  height: 100%;
  word-break: keep-all;
  margin-left: 5%;
}

.sidebar-top-headers {
  background-color: skyblue;
}

.sidebar-top-items {
  background-color: greenyellow;
}

.sidebar-top-image {
  width: 20%;
}

.sidebar-top-anime-content {
  display: flex;
  padding-left: 15%;
  background-color: aqua;
  justify-content: right;
}
.sidebar-top-anime-content a {
  word-wrap: break-word;
  text-align: left;
}

.name-and-info {
  background-color: red;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-right: 50%;
  text-align: left;
}

.sidebar-top-anime-title {
  background-color: aliceblue;
  word-wrap: break-word;
  justify-content: left;
}

.featured-anime-container {
  display: grid;
  /* grid-template-columns: 0.19fr 0.19fr 0.19fr 0.19fr 0.19fr; */
  width: auto;
}
.individual-featured-anime-container {
  display: grid;
  width: min-content;
}

.individual-featured-anime-container :hover {
  opacity: 0.5;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

/* .featured-anime-image:hover {
  opacity: 0.5;
  transition: 0.5s ease;
  backface-visibility: hidden;
} */

.featured-anime-text {
  position: relative;
  text-align: center;
  bottom: 36px;
  color: white;
  background-color: black;
  opacity: 80%;
}

.featured-promo-container {
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
  width: auto;
}

.individual-featured-promo-container {
  display: grid;
  width: auto;
}

.promo-image {
  width: 100%;
}

.individual-featured-promo-container:hover {
  opacity: 0.5;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.anime-info-container {
  margin: auto;
  height: auto;
}

.anime-info-title-header {
  background-color: tomato;
  font-size: 25px;
}

.anime-info-main {
  display: flex;
  /* flex-direction: row; */
  width: 95%;
  margin: auto;
  margin-top: 2%;
}

.anime-info-main-info-container {
  /* display: flex; */

  margin: auto;
  background-color: white;
  /* border: 4px solid black; */

  /* margin-top: 5%; */
  /* margin-bottom: 5%; */

  width: 90%;
  margin: auto;
  border-radius: 5px;
  margin-top: 1%;
}

.manga-info-main-info-container {
  /* display: flex; */

  margin: auto;
  background-color: white;
  /* border: 4px solid black; */

  /* margin-top: 5%; */
  /* margin-bottom: 5%; */

  width: 90%;
  margin: auto;
  border-radius: 5px;
  margin-top: 1%;
}

.anime-info-main-info-details {
  margin-bottom: 2%;
}

.anime-info-main-info-content {
  /* padding-left: 1%;
  padding-right: 1%; */
}
/* .anime-info-content-guts {
  background-color: white;
  border: 4px solid black;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 0.5%;
  width: 80%;
  margin: auto;
} */

.anime-info-content-guts h3 {
  /* background-color: #59c9a5; */
  background-color: #56e39f;
  padding: 1%;
  font-size: 26px;
  /* border-radius: 10px; */
}
/* .anime-info-main-synopsis {
  margin: auto;
  background-color: white;
  margin-bottom: 5%;
  width: 50%;
} */
.anime-info-main-synopsis h3 {
  background-color: #56e39f;
  padding: 1%;
  /* border-radius: 10px; */

  font-size: 26px;
}

.anime-info-trailer {
  display: flex;
}

.anime-info-side-content {
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 20%;
  padding-right: 0.5%;
  padding-left: 0.5%;
  /* background-color: aliceblue; */
  margin-top: 0.3%;
  margin-right: 1%;
}

.anime-info-alternative-titles-container {
  background-color: white;
  margin-bottom: 5%;
  border-radius: 5px;
}

.anime-info-score {
  /* background-color: blueviolet; */
  background-color: white;
  margin-bottom: 5%;
  border-radius: 5px;
}

.anime-info-statistics {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 5%;
  border-radius: 5px;
}
.anime-info-information {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 5%;
  border-radius: 5px;
}

/* .anime-info-content-navbar {

} */
.anime-info-content-navbar {
  background-color: #56e39f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 1%;
  padding-bottom: 1%;
}

.anime-info-promo-image {
  display: grid;
}

.anime-info-character-list {
  margin-top: 2%;
  padding: 1%;
}

.anime-info-related-anime-container {
}

.anime-info-rec-anime-container {
  margin-top: 2%;
  padding: 1%;
  height: 39vh;
}

.manga-info-main {
  display: flex;
  /* flex-direction: row; */
  /* width: 95%; */
  margin: auto;
  height: "100vh";
  /* margin-top: 2%; */
}

.anime-character-list-contents {
  margin-top: 1%;
  margin-left: 1%;
  width: 75%;
  /* margin: auto;  */
  /* height: 100%; */
}

.anime-character-main-info-content {
  padding-left: 1%;
  padding-right: 1%;
}

.anime-character-list-contents img {
  transition: 1s ease;
  -webkit-filter: brightness(100%);
  background-color: black;
}

.anime-character-list-contents img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
  -webkit-filter: brightness(50%);
  /* opacity: 0.3; */
  /* border-radius: 50px; */
}

.search-page-card {
  transition: 1s ease;
  -webkit-filter: brightness(100%);
  /* background-color: black; */
  /* padding-bottom: 41%; */
  /* margin-bottom: 5%;
  margin: 4%;
  height: 100%; */
}

.search-page-card :hover {
  /* -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); */
  transition: 1s ease;
  -webkit-filter: brightness(50%);
  /* opacity: 0.3; */
  /* border-radius: 50px; */
}

/* .anime-character-list-details-button {
  z-index: 1;
  padding-bottom: ;
} */

/* .css-bf9wz-MuiButtonBase-root-MuiPaginationItem-root {
  font-size: 20px;
} */
.top-anime-navigation-bar-items {
  display: flex;
  justify-content: space-between;
}

.top-anime-top-category-items {
  display: grid;
}

.top-anime-top-category-title-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 50%;
  background-color: white;
}
/* .search-page-anime-entry {
  display: flex;
  flex-direction: row;
  margin: auto;

  background-color: white;
} */

.search-page-contents {
  /* display: flex;
  justify-content: space-between; */
  margin: auto;
  width: 95%;
}

/* .search-page-card {
  max-width: 90%;
  max-height: 100%;
  padding-bottom: 35px;
} */

.search-bar-container {
  display: flex;
  /* padding-left: 5%; */
  /* overflow: auto; */
  /* justify-content: space-around; */
  /* padding-bottom: 1.5%; */
}

.search-bar-select-button {
  padding: 0.5%;
}

.search-bar-search-button-input {
  background-color: white;
}

.character-profile-container {
  display: flex;
  flex-direction: row;
}

.anime-recs-page {
  margin: 0 auto;
}
.anime-recs-content {
  width: 80%;
  margin: auto;
}

.anime-character-side-content {
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 20%;
  padding-right: 1%;
  /* padding-left: 0.5%; */
  /* background-color: aliceblue; */
}
.anime-characters-main {
  display: flex;
  /* flex-direction: row; */
  width: 95%;
  margin: auto;
  margin-top: 2%;
}
/*  */

.anime-characters-nickname-container {
  background-color: white;
  margin-bottom: 5%;
  border-radius: 5px;
}

.anime-character-members-number {
  /* background-color: blueviolet; */
  background-color: white;
  margin-bottom: 5%;
  border-radius: 5px;
}

.anime-character-name-header h3 {
  /* background-color: #56e39f; */
  font-size: 26px;
}

.anime-character-main-info-container {
  /* display: flex; */

  /* margin: auto; */
  /* background-color: white; */
  /* border: 4px solid black; */

  /* margin-top: 5%; */
  /* margin-bottom: 5%; */

  width: 70%;
  /* margin: auto; */
  padding-left: 1%;
  padding-right: 1%;

  border-radius: 5px;
}
.anime-character-animeography {
  width: 20%;
}

.anime-info-character-info-content {
  background-color: white;
  padding-top: 1%;
  padding-bottom: 1%;

  border-radius: 5px;
  /* margin-top: 0.9%; */
}

.footer {
  background-color: #59c9a5;
  flex-shrink: 0;
}
